# Default ignored files
/build
.idea
.dart_tool
android/.*
android/.idea/
android/.gradle
android/.gradle/*.*
pubspec.lock
.*
*.iml
/android/.gradle/
ios/Podfile.lock
ios/.symlinks
ios/Flutter/ephemeral/*/.swiftpm