# Default ignored files
/shelf/
/workspace.xml
/.idea/vcs.xml
/.idea/
.dart_tool
/.flutter-plugins
/.flutter-plugins-dependencies
/android/build
/Ottu_logo.png
/flutter_launcher_icons.yaml
env.var.*.json
